* {
    box-sizing: border-box;
}
     body{background-image:url(muha.jpg);
            background-size: 100px;
        }
     #author{
          color: white;
          font-family: cursive;
          border: groove 3px violet;
          background-image: linear-gradient(to bottom left , purple 20%,white 30%,red 40%, white 20%,darkgreen 20%);
          display: none;
          padding: 10px;
          font-size: 20px;
          text-align: center;
          box-shadow:3px 5px black;
          border-radius: 10px;
          animation: color 2s;
          animation-iteration-count: infinite;
      }
      @keyframes color {
          100%{ filter: hue-rotate(360deg);
      }
      }
  .marquee{
      background-color: purple;
      background-image: linear-gradient(to top right , purple 20%,blue 30%,red 40%, purple 10%,green 20%);;
      padding: 10px;
       font-size: 20px;
       font-family:cursive;
       font-weight: bold;
       color: white;
       box-shadow:3px 5px white;
       border-radius: 10px;
       border: groove 3px blue;
       animation: marquee 2s;
       animation-iteration-count: infinite;
       display: block;
  }
      @keyframes marquee {
          100%{ filter: hue-rotate(360deg);
      }
   }
   span {
       font-size:30px;;
   }
   #image{
      width:250px;
      height: 400px;
      display: block;
      align-self: center;
      margin: 10px;
      transition: display 0.9s ease;
   }
    #btn-container{
        display: none;
    }
    button{
        border-radius: 20px;
        width: 100px;
        height: 90px;
        background-image: linear-gradient(to top left , white 20%,black 30%,red 40%, purple 10%,blue 20%);
        display: flex;
        color: white;
        animation: color 2s;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        font-family: Georgia;
        text-align: center;
    }
    .btn-1{
        display: inline;
        float:left;
        position: relative;
        top: 30px;
    }
     .btn-2 {
         display: inline;
         float:right;
         position: relative;
         top: 30px;
      }
      .btn-3{
         display: inline;
         margin-left:100;
         position: relative;
         top: 25%;
      }
   .instruct, .click {
       color: yellow;
       animation: color 2s;
       animation-iteration-count: infinite;
       font-family:Georgia;
       font-weight: bold;
       text-align: center;
       text-shadow: 4px  3px 3px purple;
       display: inline;
   }
   .point {
       color: violet;
       animation: color 2s;
       animation-iteration-count: infinite;
   }
   .image1{
       height: 300px;
       background-size: 100px;
       animation: bgmage 5s;
       animation-iteration-count:infinite;
       animation-duration: 25s;
   }
   @keyframes bgmage {
       30%{
           background: url('moon.webp');
           background-size: 100px;
       }
       35%{
           background: url('moon.png');
           background-size: 100px;
       }
     60%{
         background-image: url('moon.gif');
     }
     80%{
         background-image: url('moon.webp');
     }
     100%{
         background-image: url('moon.gif');
     }
}
 /*  slideshow design 
 Position the image container (needed to position the left and right arrows) */
.gallery-container, .msg-gallery-container {
  position: relative;
  display: none;
  top: 5;
}


/* Hide the images by default */
.mySlides, .slides, .msg{
  display: none;
  height: 600;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: auto;
  padding: 16px;
  margin-top: -50px;
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  animation: color 2s;
  animation-iteration-count: infinite;
}

/* Position the "next button" to the right */
.next, .fwd{
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.bwd:hover,
.fwd:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext, .slidenumber, .msgnumber{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top:0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: none;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: none;
}
 .active, .dot:hover {
  background-color: #717171;
}
/* Next & previous buttons */
.bwd, .fwd, .next, .prev{
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  transiton: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  animation: color 2s;
  animation-iteration-count: infinite;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
